<div class="row">
  <div class="col-lg-6">
    <%= for challenge <- @challenges do %>
    <h4>Challenge #<%= challenge.order_number %></h4>
    <p>
      <%= get_challenge_readme(challenge.url) %>
    </p>
    <hr>
    <% end %>
  </div>
</div>
